<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.noh.Article.ArticleMapper">
	<!-- 댓글 쓰기 -->
	<insert id="ArticleWrite">
		insert into Article (Content, Board_AI_ID, User_AI_ID, HitCount)
		values (#{Content},#{Board_AI_ID},#{User_AI_ID},#{HitCount})		
	</insert>
	<!-- 댓글 전체조회 -->
	
	<!-- 댓글 상제조회 -->
	
	<!-- 댓글 수정 -->
	
	<!-- 댓글 삭제 -->
	
</mapper>