<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.noh.Article.ArticleMapper">
	<!-- 댓글 쓰기 C -->
	<insert id="ArticleWrite">
		insert into Article (content, board_ai_id, user_ai_id, hitcount)
		values (#{content},#{board_ai_id},#{user_ai_id},#{hitcount})		
	</insert>
	<!-- 댓글 전체조회 R -->
	<select id="ArticleListAll" resultType="kr.co.noh.DTO.ArticleDTO"> 
		select * from article
		where board_ai_id=#{board_ai_id}
		order by ai_id desc
	</select>
	<!-- 댓글 상제조회 R -->
	<select id="ArticleDetail" resultType="kr.co.noh.DTO.ArticleDTO">
		select * from article where ai_id=#{ai_id}	
	</select>
	<!-- 댓글 수정 U -->
	<update id="ArticleUpdate">
		update article set content=#{content}, hitcount=#{hitcount}
		where ai_id=#{ai_id}  
	</update>
	<!-- 댓글 삭제 D -->
	<delete id="ArticleDelete">
		delete from article where ai_id=#{ai_id}
	</delete>
	
	<!-- 댓글 페이징 -->
	<select id="listPage" resultType="kr.co.noh.DTO.ArticleDTO">
	select * from article
	where ai_id = #{ai_id}
	order by ai_id desc
	limit #{cri.pageStart}, #{cri.getPageNum}
	</select>
	
	<!-- 댓글 페이징 -->
	<select id="count" resultType="int">
		select count(ai_id) from article where ai_id = #{ai_id}
	</select>
	
</mapper>