<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.noh.mappers.BoardMapper">
	<!-- 게시판 글쓰기 C -->
	<insert id="BoardWrite" parameterType="kr.co.noh.DTO.BoardDTO">
		insert into board (title, content, viewcount, user_ai_id, hitcount)
		values (#{title},#{content},#{viewcount},#{user_ai_id}, #{hitcount})
	</insert>
	
	<!-- 게시판 전체조회 R -->
	<select id="BoardListAll" resultType="kr.co.noh.DTO.BoardDTO">
		select * from board
	</select>
	<!-- 게시판 상제조회 R -->
	<select id="BoardDetail" resultType="kr.co.noh.DTO.BoardDTO">
		select * from board where ai_id=#{ai_id}
	</select>
	
	<!-- 게시판 수정 U -->
	<update id="BoardUpdate">
		update board set title=#{title}, content=#{content}, viewcount=#{viewcount}, hitcount=#{hitcount}
		where ai_id=#{ai_id}
	</update>
	
	<!-- 게시판 삭제 D -->
	<delete id="BoardDelete">
		delete from board where ai_id=#{ai_id}
	</delete>
	
	<!-- 페이징 -->
	<select id="listPage" resultType="kr.co.noh.DTO.BoardDTO">
		<![CDATA[
			select * from board
			where ai_id > 0
			order by ai_id desc, date desc
			limit #{page}, 6
		]]>
	</select>
	
	<!-- 페이징 -->
	<select id="listCriteria" resultType="kr.co.noh.DTO.BoardDTO">
			<![CDATA[
				select * from board
				where ai_id > 0
				order by ai_id desc, date desc
				limit #{pageStart}, #{perPageNum}
			]]>
	</select>
	
	<!-- 페이징 -->
	<select id="countPaging" resultType="int">
			<![CDATA[
				select count(ai_id)
				from board
				where ai_id > 0
			]]>
	</select>
	
</mapper>